html, body{
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --background3: wheat;
}

.wrapper {
    width: 100%;
    height: auto;


}

.grid{
    display: grid;
    /* background-color: rgb(58, 58, 58); */
    grid-template-rows: auto 40px 400px auto;
    grid-template-columns: 0.5fr 8fr 1.5fr 1.5fr;
    grid-auto-rows: auto;
}

.pseudoItem{
    background-color: yellow;
    border: 1px solid black;
}

#logo {
    width: fit-content;
    grid-column: 1 / 3;
}

#headerNav{
    color: whitesmoke;
    background-color: rgb(184, 184, 184);
    justify-content: center;
    align-items: center;
    display: flex;
    grid-row: 2;
    grid-column: 1 / span 4;
}

.navItem{
    font-size: 20px;
    margin-left: 6em;
    margin-right: 6em;
    cursor: pointer;
}

.contact {
    justify-self: end;
    font-size: 25px;
    padding-right: 1em;
}

#contactNumber{
    display: inline-block;
    margin-top: 0.7em;
    padding-left: 0.5em;
}
#heroPositon{
    height: 100%;
    width: 100%;
    grid-row: 3;
    grid-column: 1 / span 4;
    justify-self: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    background-color: wheat;
}

#heroImage{
    background-color: rgba(105, 105, 105, 0.253);
    background-image: url("https://images.unsplash.com/photo-1514910440960-0b0fe5b56501?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1281&q=80");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-self: center;
    position: sticky;
    height: 100%;
    width: auto;
    left: 20%;
    right: 20%;
    z-index: 0;
}

.herotext {
    position: relative;
    text-align: center;
    margin-top: -220px;
    font-size: 60px;
    font-weight: bold;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.middle{
    margin-top: -35px;
}

#aboutUs{
    font-size: 20px;
    height: 100%;
    /* margin-left:00px;
    margin-right: 400px;
    min-width: 800px; */
    width: fit-content;
    grid-column: 1 / span 4;
    grid-row: 4;
    color: rgb(24, 24, 24);
    background-color: rgb(255, 255, 255);
    z-index: 0;
}

#aboutUs .gridAbout{
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
    /* to remove */
    /* background-color: rgba(108, 204, 116, 0.432); */
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    
}

.aboutUsTitle{
    padding-top: 200px;
    text-align: center;
}

#aboutUs p{
    padding: 20px 0;
    margin: 0 50px;
}

#aboutUs .findButton{
    display: block;
    align-self: center;
    justify-self: center;
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    padding: 5px 20px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.2s ease-out;
    border-radius: 10px;
    cursor: pointer;

}

#aboutUs .findButton:hover{
    color: whitesmoke;
    background: linear-gradient(to right, #5a492a 0%, wheat 100%)

}

#aboutUsImage {
    background-image: url(https://cdn.pixabay.com/photo/2015/05/07/15/08/pastries-756601_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -20px 0px;
    height: 300px;
    width: 400px;
    /* change for about us padding */
    margin: 120px auto 50px auto;
    outline: 1px solid rgb(110, 110, 110);
    padding: 30px 0px;
    position: relative;
}

#aboutUsImage #aboutUsImageBorder{
    position: relative;
    height: 360px;
    width: 400px;
    border: 10px solid black;
    transition: 1s ease-in-out;
    margin-top: -15%;
    margin-left: -30px;
    z-index: -1;
}
#aboutUsImage #aboutUsImageBorder.static{
    margin-top: -10%;
    margin-left: -10px;
}

#ourStore{
    grid-row: 5;
    grid-column: 1 / span 4;
    /* change to edit padding above myStore */
    padding-top: 80px;
    height: 100%;
    background-color: var(--background3);
}

#ourStoreGrid{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    justify-items: center;
    background-color: var(--background3);
    row-gap: 20px;
}

#ourStoreHeader{
    font-size: 30px;
}

#ourStoreFlex{
    display: flex;
    width: 1000px;
    /* background-color: royalblue; */
    justify-content: space-between;
    font-size: 20px;
}

#ourStoreFlex .foodstuffFilter{
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

#searchBar input{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 20px;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1.5em;
}

.searchIcon{
    margin-left: -25px;
}

.backgroundColour3{
    grid-row: 6;
    grid-column: 1 / span 4;
    background-color: var(--background3);
}

#inventory{
    display: grid;
    /* background-color: royalblue; */
    height: 100%;
    margin: 40px;
    margin-left: 20%;
    margin-right: 20%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    column-gap: 20px;
    row-gap: 20px;
    transition: 0.5s ease-in-out;

}

.inventoryItemCard{

}

.inventoryItemCard .foodBackground{
    background-image: url("https://images.unsplash.com/photo-1551059429-355bd51f6972?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgb(105, 105, 105) ;
    height: 300px;
    width: 400px;
    transition: 0.5s ease-in-out;
}

.inventoryItemCard .foodText{
    width: 400px;
    height: 60px;
    background-color: white;
    border: 1px solid rgb(105, 105, 105) ;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.inventoryItemCard .foodTextName{
    display: inline-block;
    justify-self: start;
    margin-left: 10px;

}

.inventoryItemCard .foodPrice{
    display: inline;
    justify-self: right;
    margin-right: 10px;
}

#item2{
    height: 300px;
    width: 300px;
    /* background-color: rgb(255, 0, 0); */
}